// LIKE
// -----------------

.like
  position: relative
  background-color: $blue
  font-family: $fontTitle

  &:after
    content: ""
    +square(0)
    +position(absolute, null, null, -18px, 50%)
    margin-left: -20px
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-top: 18px solid $blue

  .centered-content
    padding: 75px 70px 106px 480px
    +retina-image("#{$imagePath}like/like-it-up", 322px auto)
    background-position: 70px 75px
    background-repeat: no-repeat

    +max-screen($medium)
      padding: 75px $gapLarge 106px 380px
      background-position: $gapLarge 75px
      background-size: 300px auto

    +max-screen($small)
      padding: 500px $gapLarge 106px
      background-position: center $gapXLarge
      text-align: center

    &.shop-today
      +retina-image("#{$imagePath}like/shop-online-today", 322px auto)

      +max-screen($medium)
        padding: 75px $gapLarge 106px 380px
        background-position: $gapLarge 75px
        background-size: 300px auto

      +max-screen($small)
        padding: 500px $gapLarge 106px
        background-position: center $gapXLarge
        text-align: center

    &.shop-finished
      +retina-image("#{$imagePath}like/comp-finished", 322px auto)

      +max-screen($medium)
        padding: 75px $gapLarge 106px 380px
        background-position: $gapLarge 75px
        background-size: 300px auto

      +max-screen($small)
        padding: 500px $gapLarge 106px
        background-position: center $gapXLarge
        text-align: center

.lead
  +font(rgba($white, .65), 1.75rem, null, null, 2.125rem)

  &.larger
    font-size: 2.4375rem

  &.largest
    font-size: 2.375rem

  .opaque
    color: $white

.counter
  display: inline-block
  margin: 30px 10px 10px 0
  font-size: 7rem
  vertical-align: middle

  +max-screen($xSmall)
    margin-right: 0

  +max-screen(820px)
    margin: 20px 4px 0 0

  +max-screen(332px)
    margin: 20px 0 0 -20px

.digit-con
  height: 1em
  width: 0.5em
  overflow: hidden
  display: inline-block
  margin-left: 5px
  position: relative
  background-color: white

  &:nth-child(1)
    margin-left: 0

  &:nth-child(2), &:nth-child(5)
    height: 0.9em
    top: -0.05em

  span
    width: .75em
    display: block
    text-align: center
    font-size: 1em
    color: $orange
    position: relative
    left: -0.12em
    top: 0

.comma
  color: $orange
  font-size: 1.2em
  margin-left: 5px
  height: 1em
  position: relative
  top: -0.12em

.counter-copy
  display: inline-block
  width: 162px
  font-size: 5.5rem
  line-height: .3
  vertical-align: middle

  .smaller
    font-size: .33em
    white-space: nowrap

  +min-max-screen($small + 1, $medium)
    width: 90px
    font-size: 4rem

  +max-screen($small)
    margin: $gapMedium 0 $gapLarge

.final-count
  display: inline-block
  margin: 0 20px 0 0
  font-size: 5.5rem
  vertical-align: middle
  line-height: 1

.final-count-figure
  display: inline-block
  +font($white, 13.75rem, null, null)
  letter-spacing: -15px
  vertical-align: middle

  +max-screen($medium)
    font-size: 10.75rem

  &.smaller
    font-size: 12.25rem

    +max-screen($medium)
      font-size: 8.75rem

.final-count-copy
  display: inline-block
  width: 200px
  padding: 23px 0 0 10px
  font-size: 5.875rem
  vertical-align: top

  +max-screen($medium)
    width: 170px
    padding-top: 19px
    font-size: 4rem

  +max-screen($small)
    margin: 22px 0 30px
    padding-top: 0

  +max-screen(425px)
    margin: 0 0 30px
    padding-top: 0

  .lead
    font-size: 1.6875rem
    line-height: .8

    +max-screen($medium)
      font-size: 1.5rem


.insentive-wrapper
  position: relative
  +size(100%, 329px)

  +max-screen($xSmall)
    height: 460px

.stage1
  +square(100%)
  +position(absolute, 0, null, null, 0)
  padding-top: $gapLarge
  z-index: 20

.stage2
  display: none
  @extend .stage1

.btn
  display: inline-block
  position: relative
  margin-bottom: $gapLarge

  .fb-login-button
    +position(absolute, 18px, 30px)
    +size(58px, 20px)
    overflow: hidden
    vertical-align: middle

  .fb-like
    +position(absolute, 19px, 20px)
    +size(49px, 20px)
    overflow: hidden
    vertical-align: middle
    transform: scale(1.3)

    span
      vertical-align: top!important

.list
  list-style-type: none

  li
    margin-bottom: 20px

.list-number
  display: inline-block
  +square(46px)
  margin-right: 10px
  border: 6px solid $white
  border-radius: 50%
  font-size: 1.8125rem
  line-height: 36px
  text-align: center
  vertical-align: top

  .list li:first-child &
    background-color: $orange

  .list li:nth-child(2) &
    background-color: $green

  .list li:nth-child(3) &
    background-color: $pink

.list-copy
  display: inline-block
  width: 370px
  padding-top: 5px
  +font(null, 1.25rem, $font, 500, 1.1)
  vertical-align: top

  +max-screen($medium)
    width: 290px

  +max-screen($small)
    width: 270px
    text-align: left

.liked-copy
  margin-bottom: $gapMedium
  +font($white, 1.25rem, $font)

.signup-link
  display: inline-block
  +size(182px, 43px)
  +retina-image("#{$imagePath}layout/signup", 182px auto)
  @extend %image-replacement

.error-message
  font-size: 1.6rem
  color: $pink
  margin-bottom: 30px
  list-style: none

  &.hidden
    display: none
    visibility: hidden

.shop-online-btn
  padding: 10px 20px
  display: block
  text-align: center
  background-color: $orange
  text-decoration: none
  font-size: 2.2rem
  transition: all 300ms
