// POPUP
// -----------------

.popup-overlay
  display: none
  +position(fixed, 0, 0, 0, 0)
  +square(100%)
  background-color: rgba($black, .56)
  z-index: 30

.popup-wrapper
  +center(642px, 276px)
  padding: 60px $gapLarge 0 344px
  +retina-image("#{$imagePath}popup/like-it-up-bg", 280px auto)
  background-color: $blue
  background-position: 33px 39px
  background-repeat: no-repeat
  border: 6px solid $white
  +font(null, 1.125rem, null, 500)

  p
    margin-bottom: $gapMedium
  .highlight
    color: $pink

  +max-screen($small)
    width: 300px
    height: 300px
    padding: 220px 5px 150px 5px
    background-position: 20px 25px
    background-size: 240px auto

    p
      padding: 0 10px
      margin-bottom: 15px

.close-link
  display: inline-block
  +position(absolute, -35px, -6px)
  +size(85px, 25px)
  +font(null, 1.25rem, null, 300, 25px)
  text-decoration: none
  text-transform: uppercase

.cross
  display: inline-block
  +square(25px)
  border: 2px solid $white
  font-weight: 500
  text-align: center
  text-transform: uppercase
