// STORES
// -----------------

.stores
  position: relative

  .centered-content
    padding-top: 50px
    padding-bottom: 50px
    text-align: center

.title
  width: calc(100% - 92px)
  margin: 0 auto $gapLarge
  +font($orange, 2.5rem, $fontTitle)
  text-align: left

  +max-screen($medium)
    width: 100%
    margin-bottom: 10px
    text-align: center
    

  .q-img
    display: inline-block
    height: 33px
    width: 21px
    +retina-image("#{$imagePath}layout/q", 19.5px auto)
    background-position: bottom center
    background-repeat: no-repeat
    margin-left: 2px

.view-all
  display: inline-block
  +position(absolute, 55px, 108px)
  width: 145px
  padding: 8px 50px 4px $gapSmall
  +font($orange, 1.25rem, null, 500)
  border: 1px solid $orange
  cursor: pointer
  text-transform: uppercase
  transition: all 300ms

  +max-screen($medium)
    +position(relative, auto, auto)
    margin: 0 auto $gapLarge

  &:after
    content: ""
    +square(0)
    +position(absolute, 12px, 10px)
    border-left: 12px solid transparent
    border-right: 12px solid transparent
    border-top: 9px solid $orange
    transition: all 300ms

  &:hover
    background-color: $orange
    color: white
    &:after
      border-top: 9px solid white

.close
  display: none
  @extend .view-all

  &:after
    border-top: 0
    border-bottom: 9px solid $orange

.prev, .next
  display: inline-block
  +position(absolute, 50%, null, null, 0)
  +size(36px, 72px)
  margin-top: -36px
  cursor: pointer

.next
  left: auto
  right: 0
  transform: rotate(180deg)

.slider-wrapper
  position: relative
  width: 100%
  padding: 0 50px

.slider
  width: 100%
  margin: 0 auto
  font-size: 0

.slider-item
  display: inline-block
  width: calc(100% / 5)

  +max-screen($medium)
    width: calc(100% / 4)

  +max-screen(640px)
    width: calc(100% / 2)

  img
    display: block
    width: 100%
    height: auto

.owl-carousel
  .slider-item
    display: block
    width: 100%

    img
      display: block
      width: 100%
      height: auto
