.inline-edit-bar {
    width:100%;
    position:fixed;
    top:0;  
    z-index:555;
    text-align:center;
    font-size:14px;
    display:none;
}

.inline-edit-bar p, .inline-edit-bar h1, .inline-edit-bar h2, .inline-edit-bar .errorSummary {
    margin:15px 0;
    font-size:14px;
}

.inline-edit-bar .errorSummary ul, .inline-edit-bar .errorSummary p {
    margin:0;
    padding:0;
}

.inline-edit-bar .errorSummary ul li {
    list-style-type:none;
}

.inline-edit-bar a {
    text-decoration:underline;
}

.inline-flash {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #fbeed5;
    line-height:20px;
}

.inline-flash-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.inline-flash-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.inline-flash-notice {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.inline-close {
    position:absolute;
    right:8px;
    top:5px;
    font-size:20px;
    cursor:pointer;
}

.cke_editable:focus {
    outline:1px dashed #999 !important;
}

.inline-edit-image-link {
    display:block;
    position:absolute;
    font-size:15px;
    line-height:16px;
    color:#000;
    font-weight:bold;
    padding:8px 12px 6px;
    text-decoration:none;
    z-index:545;
    border:1px solid #b6b6b6;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);  
    width:auto !important;
    height: auto !important;    
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d2d3d2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d2d3d2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d2d3d2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d2d3d2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d2d3d2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d2d3d2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d3d2',GradientType=0 ); /* IE6-9 */
}

.inline-edit-image-link:hover {
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #bdbdbd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#bdbdbd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#bdbdbd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1f1f1 0%,#bdbdbd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#bdbdbd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1f1f1 0%,#bdbdbd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#bdbdbd',GradientType=0 ); /* IE6-9 */
}

.inline-edit-top-left { top:10px; left:10px; }
.inline-edit-top-right { top:10px; right:10px; }
.inline-edit-bottom-left { bottom:10px; left:10px; }
.inline-edit-bottom-right { bottom:10px; right:10px; }