html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  box-shadow: 0; }

.qcard, .fb, .twitter, .instagram, .signup-link {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

@font-face {
  font-family: "agenda";
  font-weight: 300;
  font-style: normal;
  src: url("../../www/fonts/agenda-light.eot");
  src: url("../../www/fonts/agenda-light.eot?#iefix") format("embedded-opentype"), url("../../www/fonts/agenda-light.woff2") format("woff2"), url("../../www/fonts/agenda-light.woff") format("woff"), url("../../www/fonts/agenda-light.ttf") format("truetype"); }
@font-face {
  font-family: "agenda";
  font-weight: 500;
  font-style: normal;
  src: url("../../www/fonts/agenda-medium.eot");
  src: url("../../www/fonts/agenda-medium.eot?#iefix") format("embedded-opentype"), url("../../www/fonts/agenda-medium.woff2") format("woff2"), url("../../www/fonts/agenda-medium.woff") format("woff"), url("../../www/fonts/agenda-medium.ttf") format("truetype"); }
@font-face {
  font-family: "agenda";
  font-weight: 700;
  font-style: normal;
  src: url("../../www/fonts/agenda-semibold.eot");
  src: url("../../www/fonts/agenda-semibold.eot?#iefix") format("embedded-opentype"), url("../../www/fonts/agenda-semibold.woff2") format("woff2"), url("../../www/fonts/agenda-semibold.woff") format("woff"), url("../../www/fonts/agenda-semibold.ttf") format("truetype"); }
@font-face {
  font-family: "tremendous";
  font-style: normal;
  src: url("../../www/fonts/tremendous.eot");
  src: url("../../www/fonts/tremendous.eot?#iefix") format("embedded-opentype"), url("../../www/fonts/tremendous.woff2") format("woff2"), url("../../www/fonts/tremendous.woff") format("woff"), url("../../www/fonts/tremendous.ttf") format("truetype"); }
* {
  box-sizing: border-box; }

body {
  background: #fff;
  color: #fff;
  font-family: "agenda", sans-serif;
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.centered-content {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 70px; }
  @media screen and (max-width: 1023px) {
    .centered-content {
      padding: 0 30px; } }

.strong {
  font-weight: 700; }

.medium {
  font-weight: 500; }

.header {
  position: relative;
  width: 100%;
  padding: 27px 0;
  background-color: #6ba141;
  font-size: 1.375rem;
  text-transform: uppercase;
  z-index: 10; }
  .header span {
    display: inline-block; }
  @media screen and (max-width: 1023px) {
    .header p {
      max-width: calc(100% - 180px); } }
  @media screen and (max-width: 767px) {
    .header {
      height: auto;
      text-align: center; }
      .header p {
        max-width: 90%;
        margin: 0 auto; } }

.qcard {
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 70px;
  width: 162px;
  height: 104px;
  background-image: url(../../www/images/layout/qcard.png);
  background-size: 162px auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .qcard {
      background-image: url(../../www/images/layout/qcard@2x.png); } }
  @media screen and (max-width: 1023px) {
    .qcard {
      right: 30px; } }
  @media screen and (max-width: 767px) {
    .qcard {
      position: relative;
      top: auto;
      right: auto;
      margin-bottom: 20px; } }

.footer {
  background-color: #a0a0a0; }
  .footer .centered-content {
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer p, .footer li {
    font-size: 0.875rem; }
  .footer ol {
    margin-top: 10px; }
  .footer li {
    line-height: 1.1;
    list-style-position: inside; }

.footer-title {
  margin-bottom: 40px;
  color: #fff;
  font-family: "tremendous", sans-serif;
  font-size: 2.1875rem;
  vertical-align: top; }
  .footer-title.privacy {
    margin: 30px 0 20px;
    font-size: 1.5rem; }
  @media screen and (max-width: 767px) {
    .footer-title {
      margin-bottom: 20px;
      text-align: center; } }
  .footer-title .q-img {
    display: inline-block;
    height: 24px;
    width: 21px;
    background-image: url(../../www/images/layout/q-white.png);
    background-size: 17px auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-left: 1px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .footer-title .q-img {
        background-image: url(../../www/images/layout/q-white@2x.png); } }

.apply-btn {
  display: inline-block;
  width: 158px;
  height: 40px;
  margin-left: 20px;
  font-family: "agenda", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: top;
  background-color: #faa21f;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 0 0 12px;
  position: relative;
  transition: all 300ms; }
  .apply-btn:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 12px;
    right: 10px;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent white;
    transition: all 300ms; }
  .apply-btn:hover {
    background-color: white;
    color: #faa21f; }
    .apply-btn:hover:after {
      border-color: transparent transparent transparent #faa21f; }
  @media screen and (max-width: 500px) {
    .apply-btn {
      margin-top: 10px;
      margin-left: 0; } }
  @media screen and (max-width: 767px) {
    .apply-btn {
      text-align: left; } }

.social {
  position: absolute;
  top: 50px;
  right: 0;
  width: 120px;
  height: 30px; }
  @media screen and (max-width: 767px) {
    .social {
      position: relative;
      top: auto;
      right: auto;
      margin: 0 auto 40px; } }

.fb, .twitter, .instagram {
  display: inline-block;
  width: 36px;
  height: 30px;
  background-repeat: no-repeat; }

.fb {
  background-image: url(../../www/images/layout/fb.png);
  background-size: 31px auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .fb {
      background-image: url(../../www/images/layout/fb@2x.png); } }

.twitter {
  background-image: url(../../www/images/layout/twitter.png);
  background-size: 31px auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .twitter {
      background-image: url(../../www/images/layout/twitter@2x.png); } }

.instagram {
  background-image: url(../../www/images/layout/instagram.png);
  background-size: 31px auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .instagram {
      background-image: url(../../www/images/layout/instagram@2x.png); } }

.like {
  position: relative;
  background-color: #00aed3;
  font-family: "tremendous", sans-serif; }
  .like:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 18px solid #00aed3; }
  .like .centered-content {
    padding: 75px 70px 106px 480px;
    background-image: url(../../www/images/like/like-it-up.png);
    background-size: 322px auto;
    background-position: 70px 75px;
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .like .centered-content {
        background-image: url(../../www/images/like/like-it-up@2x.png); } }
    @media screen and (max-width: 1023px) {
      .like .centered-content {
        padding: 75px 30px 106px 380px;
        background-position: 30px 75px;
        background-size: 300px auto; } }
    @media screen and (max-width: 767px) {
      .like .centered-content {
        padding: 500px 30px 106px;
        background-position: center 40px;
        text-align: center; } }
    .like .centered-content.shop-today {
      background-image: url(../../www/images/like/shop-online-today.png);
      background-size: 322px auto; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .like .centered-content.shop-today {
          background-image: url(../../www/images/like/shop-online-today@2x.png); } }
      @media screen and (max-width: 1023px) {
        .like .centered-content.shop-today {
          padding: 75px 30px 106px 380px;
          background-position: 30px 75px;
          background-size: 300px auto; } }
      @media screen and (max-width: 767px) {
        .like .centered-content.shop-today {
          padding: 500px 30px 106px;
          background-position: center 40px;
          text-align: center; } }
    .like .centered-content.shop-finished {
      background-image: url(../../www/images/like/comp-finished.png);
      background-size: 322px auto; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .like .centered-content.shop-finished {
          background-image: url(../../www/images/like/comp-finished@2x.png); } }
      @media screen and (max-width: 1023px) {
        .like .centered-content.shop-finished {
          padding: 75px 30px 106px 380px;
          background-position: 30px 75px;
          background-size: 300px auto; } }
      @media screen and (max-width: 767px) {
        .like .centered-content.shop-finished {
          padding: 500px 30px 106px;
          background-position: center 40px;
          text-align: center; } }

.lead {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.75rem;
  line-height: 2.125rem; }
  .lead.larger {
    font-size: 2.4375rem; }
  .lead.largest {
    font-size: 2.375rem; }
  .lead .opaque {
    color: #fff; }

.counter {
  display: inline-block;
  margin: 30px 10px 10px 0;
  font-size: 7rem;
  vertical-align: middle; }
  @media screen and (max-width: 390px) {
    .counter {
      margin-right: 0; } }
  @media screen and (max-width: 820px) {
    .counter {
      margin: 20px 4px 0 0; } }
  @media screen and (max-width: 332px) {
    .counter {
      margin: 20px 0 0 -20px; } }

.digit-con {
  height: 1em;
  width: 0.5em;
  overflow: hidden;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  background-color: white; }
  .digit-con:nth-child(1) {
    margin-left: 0; }
  .digit-con:nth-child(2), .digit-con:nth-child(5) {
    height: 0.9em;
    top: -0.05em; }
  .digit-con span {
    width: 0.75em;
    display: block;
    text-align: center;
    font-size: 1em;
    color: #faa21f;
    position: relative;
    left: -0.12em;
    top: 0; }

.comma {
  color: #faa21f;
  font-size: 1.2em;
  margin-left: 5px;
  height: 1em;
  position: relative;
  top: -0.12em; }

.counter-copy {
  display: inline-block;
  width: 162px;
  font-size: 5.5rem;
  line-height: 0.3;
  vertical-align: middle; }
  .counter-copy .smaller {
    font-size: 0.33em;
    white-space: nowrap; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .counter-copy {
      width: 90px;
      font-size: 4rem; } }
  @media screen and (max-width: 767px) {
    .counter-copy {
      margin: 20px 0 30px; } }

.final-count {
  display: inline-block;
  margin: 0 20px 0 0;
  font-size: 5.5rem;
  vertical-align: middle;
  line-height: 1; }

.final-count-figure {
  display: inline-block;
  color: #fff;
  font-size: 13.75rem;
  letter-spacing: -15px;
  vertical-align: middle; }
  @media screen and (max-width: 1023px) {
    .final-count-figure {
      font-size: 10.75rem; } }
  .final-count-figure.smaller {
    font-size: 12.25rem; }
    @media screen and (max-width: 1023px) {
      .final-count-figure.smaller {
        font-size: 8.75rem; } }

.final-count-copy {
  display: inline-block;
  width: 200px;
  padding: 23px 0 0 10px;
  font-size: 5.875rem;
  vertical-align: top; }
  @media screen and (max-width: 1023px) {
    .final-count-copy {
      width: 170px;
      padding-top: 19px;
      font-size: 4rem; } }
  @media screen and (max-width: 767px) {
    .final-count-copy {
      margin: 22px 0 30px;
      padding-top: 0; } }
  @media screen and (max-width: 425px) {
    .final-count-copy {
      margin: 0 0 30px;
      padding-top: 0; } }
  .final-count-copy .lead {
    font-size: 1.6875rem;
    line-height: 0.8; }
    @media screen and (max-width: 1023px) {
      .final-count-copy .lead {
        font-size: 1.5rem; } }

.insentive-wrapper {
  position: relative;
  width: 100%;
  height: 329px; }
  @media screen and (max-width: 390px) {
    .insentive-wrapper {
      height: 460px; } }

.stage1, .stage2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  z-index: 20; }

.stage2 {
  display: none; }

.btn {
  display: inline-block;
  position: relative;
  margin-bottom: 30px; }
  .btn .fb-login-button {
    position: absolute;
    top: 18px;
    right: 30px;
    width: 58px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle; }
  .btn .fb-like {
    position: absolute;
    top: 19px;
    right: 20px;
    width: 49px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }
    .btn .fb-like span {
      vertical-align: top !important; }

.list {
  list-style-type: none; }
  .list li {
    margin-bottom: 20px; }

.list-number {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border: 6px solid #fff;
  border-radius: 50%;
  font-size: 1.8125rem;
  line-height: 36px;
  text-align: center;
  vertical-align: top; }
  .list li:first-child .list-number {
    background-color: #faa21f; }
  .list li:nth-child(2) .list-number {
    background-color: #6ba141; }
  .list li:nth-child(3) .list-number {
    background-color: #e82262; }

.list-copy {
  display: inline-block;
  width: 370px;
  padding-top: 5px;
  font-family: "agenda", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: top; }
  @media screen and (max-width: 1023px) {
    .list-copy {
      width: 290px; } }
  @media screen and (max-width: 767px) {
    .list-copy {
      width: 270px;
      text-align: left; } }

.liked-copy {
  margin-bottom: 20px;
  color: #fff;
  font-family: "agenda", sans-serif;
  font-size: 1.25rem; }

.signup-link {
  display: inline-block;
  width: 182px;
  height: 43px;
  background-image: url(../../www/images/layout/signup.png);
  background-size: 182px auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .signup-link {
      background-image: url(../../www/images/layout/signup@2x.png); } }

.error-message {
  font-size: 1.6rem;
  color: #e82262;
  margin-bottom: 30px;
  list-style: none; }
  .error-message.hidden {
    display: none;
    visibility: hidden; }

.shop-online-btn {
  padding: 10px 20px;
  display: block;
  text-align: center;
  background-color: #faa21f;
  text-decoration: none;
  font-size: 2.2rem;
  transition: all 300ms; }

.stores {
  position: relative; }
  .stores .centered-content {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; }

.title {
  width: calc(100% - 92px);
  margin: 0 auto 30px;
  color: #faa21f;
  font-family: "tremendous", sans-serif;
  font-size: 2.5rem;
  text-align: left; }
  @media screen and (max-width: 1023px) {
    .title {
      width: 100%;
      margin-bottom: 10px;
      text-align: center; } }
  .title .q-img {
    display: inline-block;
    height: 33px;
    width: 21px;
    background-image: url(../../www/images/layout/q.png);
    background-size: 19.5px auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-left: 2px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .title .q-img {
        background-image: url(../../www/images/layout/q@2x.png); } }

.view-all, .close {
  display: inline-block;
  position: absolute;
  top: 55px;
  right: 108px;
  width: 145px;
  padding: 8px 50px 4px 10px;
  color: #faa21f;
  font-size: 1.25rem;
  font-weight: 500;
  border: 1px solid #faa21f;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms; }
  @media screen and (max-width: 1023px) {
    .view-all, .close {
      position: relative;
      top: auto;
      right: auto;
      margin: 0 auto 30px; } }
  .view-all:after, .close:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 12px;
    right: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 9px solid #faa21f;
    transition: all 300ms; }
  .view-all:hover, .close:hover {
    background-color: #faa21f;
    color: white; }
    .view-all:hover:after, .close:hover:after {
      border-top: 9px solid white; }

.close {
  display: none; }
  .close:after {
    border-top: 0;
    border-bottom: 9px solid #faa21f; }

.prev, .next {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 36px;
  height: 72px;
  margin-top: -36px;
  cursor: pointer; }

.next {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.slider-wrapper {
  position: relative;
  width: 100%;
  padding: 0 50px; }

.slider {
  width: 100%;
  margin: 0 auto;
  font-size: 0; }

.slider-item {
  display: inline-block;
  width: calc(100% / 5); }
  @media screen and (max-width: 1023px) {
    .slider-item {
      width: calc(100% / 4); } }
  @media screen and (max-width: 640px) {
    .slider-item {
      width: calc(100% / 2); } }
  .slider-item img {
    display: block;
    width: 100%;
    height: auto; }

.owl-carousel .slider-item {
  display: block;
  width: 100%; }
  .owl-carousel .slider-item img {
    display: block;
    width: 100%;
    height: auto; }

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 30; }

.popup-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 642px;
  height: 276px;
  margin: auto;
  padding: 60px 30px 0 344px;
  background-image: url(../../www/images/popup/like-it-up-bg.png);
  background-size: 280px auto;
  background-color: #00aed3;
  background-position: 33px 39px;
  background-repeat: no-repeat;
  border: 6px solid #fff;
  font-size: 1.125rem;
  font-weight: 500; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .popup-wrapper {
      background-image: url(../../www/images/popup/like-it-up-bg@2x.png); } }
  .popup-wrapper p {
    margin-bottom: 20px; }
  .popup-wrapper .highlight {
    color: #e82262; }
  @media screen and (max-width: 767px) {
    .popup-wrapper {
      width: 300px;
      height: 300px;
      padding: 220px 5px 150px 5px;
      background-position: 20px 25px;
      background-size: 240px auto; }
      .popup-wrapper p {
        padding: 0 10px;
        margin-bottom: 15px; } }

.close-link {
  display: inline-block;
  position: absolute;
  top: -35px;
  right: -6px;
  width: 85px;
  height: 25px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase; }

.cross {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }
/*# sourceMappingURL=application.css.map */