// FONTS
// ---------------------

@font-face
  font-family: 'agenda'
  font-weight: 300
  font-style: normal
  src: url('#{$fontPath}agenda-light.eot')
  src: url('#{$fontPath}agenda-light.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}agenda-light.woff2') format('woff2'), url('#{$fontPath}agenda-light.woff') format('woff'), url('#{$fontPath}agenda-light.ttf') format('truetype')

@font-face
  font-family: 'agenda'
  font-weight: 500
  font-style: normal
  src: url('#{$fontPath}agenda-medium.eot')
  src: url('#{$fontPath}agenda-medium.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}agenda-medium.woff2') format('woff2'), url('#{$fontPath}agenda-medium.woff') format('woff'), url('#{$fontPath}agenda-medium.ttf') format('truetype')

@font-face
  font-family: 'agenda'
  font-weight: 700
  font-style: normal
  src: url('#{$fontPath}agenda-semibold.eot')
  src: url('#{$fontPath}agenda-semibold.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}agenda-semibold.woff2') format('woff2'), url('#{$fontPath}agenda-semibold.woff') format('woff'), url('#{$fontPath}agenda-semibold.ttf') format('truetype')

@font-face
  font-family: 'tremendous'
  font-style: normal
  src: url('#{$fontPath}tremendous.eot')
  src: url('#{$fontPath}tremendous.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}tremendous.woff2') format('woff2'), url('#{$fontPath}tremendous.woff') format('woff'), url('#{$fontPath}tremendous.ttf') format('truetype')
