// LAYOUT
// -----------------

*
  box-sizing: border-box

body
  background: $white
  +font($white, 100%, $font, 300)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.centered-content
  +centerH(1024px)
  padding: 0 70px

  +max-screen($medium)
    padding: 0 $gapLarge

.strong
  font-weight: 700

.medium
  font-weight: 500

// Header
.header
  position: relative
  width: 100%
  padding: 27px 0
  background-color: $green
  +font(null, 1.375rem)
  text-transform: uppercase
  z-index: 10

  span
    display: inline-block

  +max-screen($medium)
    p
      max-width: calc(100% - 180px)

  +max-screen($small)
    height: auto
    text-align: center

    p
      max-width: 90%
      margin: 0 auto

.qcard
  display: inline-block
  +position(absolute, -10px, 70px)
  +size(162px, 104px)
  +retina-image("#{$imagePath}layout/qcard", 162px auto)
  @extend %image-replacement

  +max-screen($medium)
    right: $gapLarge

  +max-screen($small)
    +position(relative, auto, auto)
    margin-bottom: $gapMedium


// Footer
.footer
  background-color: $gray

  .centered-content
    padding-top: 50px
    padding-bottom: 50px

  p, li
    font-size: .875rem

  ol
    margin-top: 10px

  li
    line-height: 1.1
    list-style-position: inside

.footer-title
  margin-bottom: $gapXLarge
  +font($white, 2.1875rem, $fontTitle)
  vertical-align: top

  &.privacy
    margin: $gapLarge 0 $gapMedium
    font-size: 1.5rem

  +max-screen($small)
    margin-bottom: $gapMedium
    text-align: center

  .q-img
    display: inline-block
    height: 24px
    width: 21px
    +retina-image("#{$imagePath}layout/q-white", 17px auto)
    background-position: bottom center
    background-repeat: no-repeat
    margin-left: 1px

.apply-btn
  display: inline-block
  +size(158px, 40px)
  margin-left: $gapMedium
  // +retina-image("#{$imagePath}layout/apply-now", 158px auto)
  // @extend %image-replacement
  +font(null, 1.5rem, $font, 500, 1.1)
  vertical-align: top
  background-color: $orange
  border-radius: 5px
  text-decoration: none
  padding: 8px 0 0 12px
  position: relative
  transition: all 300ms

  &:after
    content: ""
    +square(0)
    +position(absolute, 12px, 10px)
    border-style: solid
    border-width: 8px 0 8px 10px
    border-color: transparent transparent transparent white
    transition: all 300ms

  &:hover
    background-color: white
    color: $orange
    &:after
      border-color: transparent transparent transparent $orange

  +max-screen(500px)
    margin-top: 10px
    margin-left: 0

  +max-screen($small)
    text-align: left


.social
  +position(absolute, 50px, 0)
  +size(120px, 30px)

  +max-screen($small)
    +position(relative, auto, auto)
    margin: 0 auto $gapXLarge

.fb, .twitter, .instagram
  display: inline-block
  +size(36px, 30px)
  background-repeat: no-repeat
  @extend %image-replacement

.fb
  +retina-image("#{$imagePath}layout/fb", 31px auto)

.twitter
  +retina-image("#{$imagePath}layout/twitter", 31px auto)

.instagram
  +retina-image("#{$imagePath}layout/instagram", 31px auto)
